@import './base.css';

#app {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-weight: normal;
}

a,
.green {
    text-decoration: none;
    color: var(--color-action);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-active);
    }
}

@media (min-width: 700px) {
    #app {
        display: grid;
        grid-template-columns: 20rem auto;
    }
}
